body{
	background-color: #EEEEEE;
	margin: 0;
}

.header-container{
    background-color: #2D2D2D;
    height: 4em;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 5% 95%;
    top: 0;
}

.nav-container{
    background-color: #2D2D2D;
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav-home-button, .nav-recordsale-button, .nav-customers-button, .nav-inventory-button, .nav-suppliers-button, .nav-employees-button, .nav-settings-button, .nav-logout-button{
	color: #ECF0F1;
	height: 2.9em;
	width: 5.2em;
	padding: 0.4em;
	padding-top: 0.6em;
	padding-bottom: 0.5em;
	text-align: center;
	outline: none;
	text-decoration: none;
}

.nav-settings-button{
	background-color: #EEEEEE;
	color: #1A1A1A;
}

.nav-home-button:hover, .nav-recordsale-button:hover, .nav-customers-button:hover, .nav-inventory-button:hover, .nav-employees-button:hover, .nav-suppliers-button:hover, .nav-logout-button:hover{
	background-color: #EEEEEE;
	color: #1A1A1A;
}

.nav-button-label{
	font-size: 0.8em;
	font-family: "Verdana", monospace;
}

.logo-container{
	margin-left: 1em;
}

#logo {
	margin-top: 0.7em;
	margin-left: 1.2em;
}

.logo-name{
	color: #11c535;
	font-size: 1.4em;
	font-family: "Comfortaa";
}

#icon{
	font-size: 1.3em;
}

.main-container{
	width: 64em;
	display: grid;
	grid-template-columns: 60% 40%;
}

.settings-container{
	background-color: transparent;
	color: #1A1A1A;
	height: 24em;
	width: 16em;
	padding: 1.5em;
	margin-top: 3em;
	margin-left: 1em;
	font-size: 1.2em;
	font-family: verdana;
}

.shop-address-contact-container{
	background-color: transparent;
	color: #1A1A1A;
	height: 24em;
	width: 28em;
	padding: 1.5em;
	margin-top: 3em;
	margin-left: 6em;
	font-size: 1.2em;
	font-family: verdana;
}

.shop-address-contact-container{
	margin-left: 5.5em;
}

.changeclosingtime-container, .refundvalidlimit-container, .salestax-container, .clearholdingtokens-container, .cleardatabases-container, .clearreceipts-container, .clearfinancialsummaries-container, .shopaddress-container, .shopcontact-container{
	margin-top: 0.9em;
}

.closingtime-label, .refundvalidlimit-label, .salestax-label, .clearholdingtokens-label, .cleardatabases-label, .clearreceipts-label, .clearfinancialsummaries-label, .shopaddress-label, .shopcontact-label{
	font-size: 0.85em;
	font-family: "Verdana", monospace;
}

.clearholdingtokens-label, .cleardatabases-label, .clearreceipts-label, .clearfinancialsummaries-label{
	font-size: 1em;
}

.closingtime-dropdown, .refundvalidlimit-textbox, .salestax-textbox{
	background-color: transparent;
	color: #1A1A1A;
	width: 6em;
	font-size: 0.95em;
	font-family: "Verdana", monospace;
	border: none;
	border-bottom: 0.15em solid #1A1A1A;
}

.salestax-percentage-label{
	font-size: 1em;
	font-family: "Roboto", monospace;
}

.shopaddress-textarea, .shopcontact-textarea{
	width: 26.8em;
	background-color: transparent;
	font-size: 0.95em;
	font-family: "Verdana", monospace;
	border: 0.15em solid #1A1A1A;
}

.delete-button, .modifysettings-button, .generatetestreceipt-button{
	background-color: transparent;
	font-size: 0.85em;
	border-radius: 0.4em;
}

.modifysettings-button{
	color: #11c535;
	border: 0.15em solid #11c535;
}

.modifysettings-button:hover{
	background-color: #11c535;
	color: #EEEEEE;
}

.delete-button{
	color: #FF0000;
	border: 0.15em solid #FF0000;
}

.delete-button:hover{
	background-color: #FF0000;
	color: #EEEEEE;
}

.generatetestreceipt-button{
	color: #11c535;
	font-size: 0.95em;
	border: 0.15em solid #11c535;
}

.generatetestreceipt-button:hover{
	background-color: #11c535;
	color: #EEEEEE;
}